html, body {
height: 100%;
margin: 0;
padding: 0;
font-family:'Lucida Casual', 'Comic Sans MS';
background: url(../images/logo_fugu_large.png) no-repeat center center;
overflow: hidden ;
}

#container {
display: block;
position:absolute;
bottom:0;
top:0;
left:0;
right:0;
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
background-color:#73bacc;
opacity: 0.9;
}

#tabs {
margin-top:15px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;
opacity: 0.9;
border-radius:10px 10px 10px 10px;
}

#canvas {
border-radius:10px 10px 10px 10px;
background-color:#3f7380;
}



