html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	background-color: #DC4D1A;
}

H1 {
font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
font-size: 250%; /* Размер шрифта в процентах */ 
} 
P {
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11pt; /* Размер шрифта в пунктах */ 
}

canvas {
    border-radius:10px 10px 10px 10px;
	background-color:#333388;
	width:99%;
	height:99%;
}

#appLayout {
	height: 100%;
}

.tundra .demoLayout .edgePanel {
	background-color: #DC4D1A;
}

.omHomeIcon {
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omPlayIcon {
	background-image: url('../images/brainstorming.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omEditorIcon {
	background-image: url('../images/config.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omAboutIcon {
	background-image: url('../images/product.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omLightbulbIcon {
	background-image: url('../images/lightbulb.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omFolderIcon {
	background-image: url('../images/folder.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omUserIcon {
	background-image: url('../images/user.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.omSettingsIcon {
	background-image: url('../images/settings.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}