html, body {
height: 100%;
margin: 0;
padding: 0;
background-color:#BADBF2;
font-family:'Lucida Casual', 'Comic Sans MS';
}

/************************CONTENT*************************/
div#container {
position:relative; /* needed for footer positioning*/
margin:0 auto; /* center, not in IE5 */
width:100%;
height:auto !important; /* real browsers */
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
background: url(../images/logo_fugu_large.png) no-repeat center center;
}

div#header {
height:30px;
width:100%;
}

.content {
display: block;
position:absolute;
height:auto;
bottom:0;
top:0;
left:0;
right:0;
margin-top:80px;
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
border-radius:10px 10px 10px 10px;
background-color: #65C5DC;
opacity: 0.8;
overflow: auto;
padding:1em 1em 1em; // bottom padding for footer
}

/************************MAIN**************************/

#navigation {
margin-top: 4px;
}

#navigation ul {
margin: 0px;
padding: 0px;
list-style-type: none;
}

#navigation a {
font-size: 180%;
font-family:'Lucida Casual', 'Comic Sans MS';
vertical-align: middle;
color: white;
height: 30px;
border-radius:10px 10px 10px 10px;
display: block;
background-color: #65C5DC;
text-decoration: none;
text-align: center;
}

#navigation a:hover {
background-color: #5842ff;
}

#navigation li:first-child {
margin-left: 0.8%;
}

#navigation li {
line-height: 2em;
float: left;
width: 16%;
margin-right: 0.5%;
}

/************************MAIN**************************/

div#menu {
text-align: left;
}

#menu a {
font-size: 100%;
font-family:'Lucida Casual', 'Comic Sans MS';
color: white;
text-decoration: none;
text-align: left;
}

#canvas {
border-radius:10px 10px 10px 10px;
background-color:#333388;
}

